html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;

    background: #f9f9f9;
}

body {
    flex-flow: column nowrap;
    display: flex;
}

.main {
    box-sizing: border-box;
    position: relative;
    padding: 10px;

    overflow-y: scroll;
    flex: 1;

    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    margin-bottom: 0;
    display: flex;
}

*, a, button {
    cursor: default;
    user-select: none;
}

hr {
    opacity: 0.2;
}

input[type=color] {
    transition: all 0.14s ease-out;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    border: none;
    height: 21px;
    width: 21px;
    padding: 0;

    box-shadow: 0 2px 0.5em #0000003b;
}

input[type=color]:hover {
    box-shadow: 0 4px 0.5em #00000049;
}

input[type=color]::-moz-color-swatch {
    border-radius: 4px;
    overflow: hidden;
    border: none;
}

input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
}

input[type=color]::-webkit-color-swatch {
    border: none;
}

input[type=color]::after{
    border-radius: 5px;
    position: absolute;
    height: 21px;
    content: "";
    
    display: block;
    border: none;
    width: 21px;
    padding: 0;
    left: 0px;
    top: 0px;
}

input[type=text] {
    text-transform: capitalize;
    outline: none;
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: text;
    width: 1em;
    margin-left: 5px;
    /* text-align: center; */
}

label {
    transition: all 0.14s ease-out;
    box-shadow: 0 2px 0.5em #00000010;
    border: 1px solid #f0f0f0;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 0.8em;
    cursor: pointer;
    padding: 10px;

    width: fit-content;

    background: #ffffff;
    position: relative;
    font-weight: bold;
    overflow: hidden;
    display: block;
}

label::before {
    transition: all 0.14s ease-out;
    display: inline-block;
    background: #c9c9c9;
    position: absolute;
    overflow: hidden;
    content: '';

    margin: auto;
    height: 5px;

    bottom: 0;
    left: 0;
    right: 0;
}

label span {
    cursor: pointer;
    color: #555555;
}

label:focus-within {
    border: 1px solid #087cd5;
}

label:focus-within::before {
    background: #087cd5;
}

label:has(input:invalid) {
    border: 1px solid red !important;
}

label:has(input:invalid)::before {
    background: #ff0000;
}

.card {
    box-shadow: 0 2px 0.5em #00000010;
    border: 1px solid #f0f0f0;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
}

.box {
    transition: all 0.14s ease-out;
    flex-flow: row nowrap;
    display: flex;
    padding: 10px;
    gap: 10px;

    background: #e0e0e0;
    border-radius: 10px;
    width: fit-content;
}

.box:hover {
    box-shadow: 0 0 0.7em #00000010;
}

.big {
    border: 1px solid #cacaca;
    font-variant-emoji: emoji;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
}

.big p:first-of-type {
    font-weight: bold;
}

.big p {
    display: inline;
}

@keyframes leave {
    from {
        opacity: 1;
        translate: 0 0;
    }

    75% {
        translate: 10px 0;
    }

    to {
        translate: 10px 0;
        opacity: 0;
    }
}


@keyframes enter {
    from {
        opacity: 0;
        translate: -10px 0;
    }

    75% {
        translate: 0 0;
    }

    to {
        translate: 0 0;
        opacity: 1;
    }
}

.enter {
    animation: enter 1s forwards;
}

.leave {
    animation: leave 1s forwards;
}

button:disabled {
    opacity: 0.7 !important;
    pointer-events: none;
}

button.file {
    box-shadow: 0 2px 0.5em #00000010;
    transition: all 0.14s ease-out;
    border: 1px solid #f0f0f0;

    display: inline-block;
    background: #ffffff;
    border-radius: 5px;
    text-align: left;
    padding: 10px;

    margin: 5px;
    margin-left: 0;
    cursor: pointer;

    transition: all 0.14s ease-out;
    flex-flow: row nowrap;
    display: flex;
    gap: 10px;
}

.file:focus {
    border: 1px solid #087cd5;
}

.file * {
    transition: all 0.14s ease-out;
    pointer-events: none;
}

.file div {
    max-width: min-content;
}

.file p,
.box p {
    min-width: max-content;
    font-size: 0.9em;
    color: #555555;
    margin: 0;
}

.box p {
    font-size: 11px;
}

.file span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    display: inline-block;
    width: 200px;
}

.file>img {
    display: inline-block;
    max-width: 2.3em;
    aspect-ratio: 1;
}

.file:hover {
    box-shadow: 0 2px 0.4em #00000025;
}

.file:hover>img {
    translate: 0 -3px;
}

.file:active>img {
    translate: 0 0;
    scale: 0.98;
}

input[type=button] {
    box-shadow: 0 2px 0.5em #00000010;

    transition: all 0.14s ease-out;
    background: #005fb8;
    display: inline-block;
    color: #ffffff;
    cursor: pointer;
    border: none;

    border-radius: 5px;
    padding: 7px 10px;
    font-weight: bold;
    margin: 10px 0;
    opacity: 1;
}

input[type=button]:disabled {
    pointer-events: none;
    opacity: 0;
}

input[type=button]:hover {
    box-shadow: 0 2px 0.4em #00000067;
    scale: 1.08;
}

input[type=button]:active {
    box-shadow: 0 2px 0.3em #00000086;
    scale: 0.98;
}

.back {
    background: #ffffff !important;
    font-weight: normal !important;
    color: #000000 !important;
    margin-right: 10px;
}

.section {
    max-width: 400px;
    display: block;
}

.section:has(.code) {
    width: 100%;
    flex: 1;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 2px 0.5em #00000010;
    border: 1px solid #f0f0f0;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;

    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    margin-bottom: 0;
    display: flexbox;

    height: calc(100% - 7.6em);
    white-space: normal;
}

.code p {
    margin: 0;
}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

.loader {
    animation: spin 1s infinite linear;
    border: 4px solid #087cd5;
    border-radius: 50%;

    border-top: 4px solid transparent;
    aspect-ratio: 1;
    display: block;
    margin: 10px;
    width: 10px;
}

.loader.disabled {
    display: none;
}

.nodisplay {
    display: none !important;
}